
<h1>Helpful links </h1>
<ul>
<li><a href="https://www.youtube.com/watch?v=owDmPTSJkrg&t=273s">Youtube tutorial</a></li>
<li><a href="https://github.com/firebase/emberfire/blob/master/docs/guide/authentication.md">Authentication with firebase (Github)</a></li>
<li><a href="https://firebase.google.com/docs/auth/web/password-auth">Authentication with firebase (Google)</a></li>
<li><a href="https://firebase.google.com/docs/firestore/security/rules-conditions">Cloud Firestore Security Rules</a></li>
</ul>