
<h1>Helpful links </h1>
<ul>
<li><a href="https://www.youtube.com/watch?v=owDmPTSJkrg&t=273s">Youtube tutorial</a></li>
<li><a href="https://github.com/firebase/emberfire/blob/master/docs/guide/authentication.md">Authentication with firebase</a></li>
</ul>